.container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.contentContainer{
    margin-top: 16px;
    padding-right: 48px;
    border-radius: 5px;
}

@media (min-width: 764px) { 
    .contentContainer{
        background-color: #fff; 
    } 
}
