.content{
    background-color: #fff;
    padding: 16px 24px;
    margin-top: 48px;
    /* min-height: 1280px; */
}

.rateContainer {
    margin-bottom: 8px;
}

.rateText {
    width: 70px;
    display: inline-block;
    margin-right: 16px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 22px;
    color: #484848;
}
