.normal {
    display: flex;
    flex-direction: column;
    background-color: #f7f8fa;
}

.content {
    /* flex: 1; */
    margin-top: 64px;
    /* display: flex; */
}

.main {
    width: 100%;
    height: 100%;
}