.container{
    display: flex;
}

.contentContainer{
    width: 75%;
    background-color: #fff; 
    margin-top: 48px;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 32px;
 
}
.sidebarContainer{
    width: 25%;
    min-height: 1280px;
    margin-left: 32px;
    background-color: #fff;
}